html, body {
    display: block;
    margin: 0;
    padding: 0;
}

.header {
    border: 1px solid black;
    text-align: center;
    padding-bottom: 4px;
}

.add {
    border: 1px solid black;
    border-radius: 2px;
    padding: 2px;
    background-color: beige;
}
.add:hover{
    background-color: lightgrey;
    transition: 0.3s;
}
.add:active{
    background-color: grey;
}

ul{
    margin: 0;
    padding: 0;
}
ul:hover{
    background-color: lightgray;
}

ul li{
    cursor: pointer;
    position: relative;
    padding: 15px 8px 15px 40px;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
    list-style: none;
    border-bottom: 1px solid black;
}
li.checked {
    background-color: grey;
    text-decoration: line-through;
}

.arrows{
    display: flex;
    flex-direction: column;
}
.arrows:hover{
    background-color: darkgray;
    color: white;
    transition: 0.3s;
}
.arrowUp{
    position: absolute;
    right: 40px;
    top: 0;
    padding: 2px 16px 3px 16px;   
}
.arrowDown{
    position: absolute;
    right: 40px;
    top: 25px;
    padding: 3px 16px 2px 16px;   
}
.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 15px 16px 15px 16px;
  }
.close:hover{
    background-color: crimson;
    transition: 0.3s;
}