html, body, p {
    display: block;
    margin: 0;
    padding: 0;
}

.header {
    border: 1px solid black;
    text-align: center;
    padding-bottom: 4px;
}

.add {
    border: 1px solid black;
    border-radius: 2px;
    padding: 2px;
    background-color: beige;
}
.add:hover{
    background-color: lightgrey;
    transition: 0.3s;
}
.add:active{
    background-color: grey;
}

ul{
    margin: 0;
    padding: 0;
}
ul:hover{
    background-color: lightgray;
}

ul>li{
    cursor: pointer;
    position: relative;
    padding: 15px 8px 15px 40px;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
    list-style: none;
    border-bottom: 1px solid black;
    display: flex;
    align-items: stretch;
}
li.checked {
    background-color: grey;
}
li.checked>p{
    text-decoration: line-through;
}
p{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.arrows{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.arrowUp{
    padding: 6px 12px;
}
.arrowDown{
    padding: 6px 12px;
}
.arrowUp:hover{
    background-color: darkgray;
    color: white;
    transition: 0.3s;
}
.arrowDown:hover{
    background-color: darkgray;
    color: white;
    transition: 0.3s;
}
.close {
    text-align: center;
    padding: 24px 20px;
    height: 100%;
}
.close:hover{
    background-color: crimson;
    transition: 0.3s;
}